@import url(variables.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bellota", system-ui;
}

body, html {
    font-family: var(--font-letra);
    min-height: 100vh;
    min-width: 100vw;
}
