@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
:root {
    --color-FFA800: #FFA800;
    --color-703A31: #703A31;
    --color-2E1108: #2E1108;
    --color-blanco: #FFFFFF;
    --color-9D1A1A: #9D1A1A;
    --color-00000080: #00000080;
    --color-9D1A1A80:#9D1A1A80;
    --color-000000: #000000;

    --font-letra: "Bellota", system-ui;
}