<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla21</title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="../../../css/pantalla21.css">
</head>
<body>
    <header>
        <div class="box-atras">
            <img src=".././../../../public/img/Group 53.png" alt="triangulo">
            <a href="#"><i class='bx bx-arrow-back' style='color:#ffa800' ></i></a>
        </div>
        <div class="box-img">
            <img src="../../../../public/img/Rectangle 86.png" alt="rombo">
            <h5>Talleres <br> educativos</h5>
        </div>
    </header>
    <main>
        <div class="search-container">
            <div class="buscador">
                <i class='bx bx-search-alt' style='color:#ffffff' ></i>
                <input type="text" placeholder="Buscar taller, por categoría o artesano">
            </div>
        </div>
        <section class="box">
            <div class="box-img">
                <img src="../../../../public/img/y.jpg" alt="img-product">
            </div>
            <div class="info">
                <div class="texto">
                    <h4>Taller de bordado ayacuchado</h4>
                    <a href="#" class="publico">Para el público en general</a>
                    <p class="dado-por">Taller dado por los artesanos de</p>
                    <p class="nombre-artesano">Taller Awaq Ayllus</p>
                </div>
                <button><a href="#">Entérate más sobre el taller aqui</a></button>
            </div>
        </section>
        <section class="box">
            <div class="box-img">
                <img src="../../../../public/img/y.jpg" alt="img-product">
            </div>
            <div class="info">
                <div class="texto">
                    <h4>Taller de bordado ayacuchado</h4>
                    <a href="#" class="publico">Para el público en general</a>
                    <p class="dado-por">Taller dado por los artesanos de</p>
                    <p class="nombre-artesano">Taller Awaq Ayllus</p>
                </div>
                <button><a href="#">Entérate más sobre el taller aqui</a></button>
            </div>
        </section>
        <section class="box">
            <div class="box-img">
                <img src="../../../../public/img/y.jpg" alt="img-product">
            </div>
            <div class="info">
                <div class="texto">
                    <h4>Taller de bordado ayacuchado</h4>
                    <a href="#" class="publico">Para el público en general</a>
                    <p class="dado-por">Taller dado por los artesanos de</p>
                    <p class="nombre-artesano">Taller Awaq Ayllus</p>
                </div>
                <button><a href="#">Entérate más sobre el taller aqui</a></button>
            </div>
        </section>
        <section class="box">
            <div class="box-img">
                <img src="../../../../public/img/y.jpg" alt="img-product">
            </div>
            <div class="info">
                <div class="texto">
                    <h4>Taller de bordado ayacuchado</h4>
                    <a href="#" class="publico">Para el público en general</a>
                    <p class="dado-por">Taller dado por los artesanos de</p>
                    <p class="nombre-artesano">Taller Awaq Ayllus</p>
                </div>
                <button><a href="#">Entérate más sobre el taller aqui</a></button>
            </div>
        </section>
    </main>
</body>
</html>