<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla20</title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="../../../css/pantalla20.css">
</head>
<body>
    <header>
        <div class="box-atras">
            <img src=".././../../../public/img/Group 53.png" alt="triangulo">
            <a href="#"><i class='bx bx-arrow-back' style='color:#ffa800' ></i></a>
        </div>
        <div class="box-img">
            <img src="../../../../public/img/Rectangle 86.png" alt="rombo">
            <h5>Compras <br> realizadas</h5>
        </div>
    </header>
    <main>
        <section class="compras">
            <div class="compra">
                <div class="box-img">
                    <img src="../../../../public/img/y.jpg" alt="">
                </div>
                <div class="info">
                    <p class="titulo">
                        Vasija pequeña con diseño de flor
                    </p>
                    <p class="precio">S/.50</p>
                    <p class="taller">Ascc Pequeña Roma</p>
                    <div class="box-button">
                        <button><a href="#">Ver seguimiento del producto</a></button>
                    </div>
                </div>
                <div class="box-chat">
                    <i class='bx bx-comment-dots' style='color:#ffffff'  ></i>
                </div>
            </div>
        </section>
        <h3>Sigue viendo mas artesanias</h3>
        <section class="ver-mas">
            <div class="box">
                <div class="box-img">
                    <img src="../../../../public/img/y.jpg" alt="">
                </div>
                <div class="info">
                    <p class="titulo"></p>
                        Vasija pequeña con diseño de flor
                    </p>
                    <p class="precio">S/.50</p>
                    <p class="taller">Ascc Pequeña Roma</p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>