<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla19</title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="../../../css/pantalla19.css">
</head>
<body>
    <header>
        <div class="box-atras">
            <img src=".././../../../public/img/Group 53.png" alt="triangulo">
            <a href="#"><i class='bx bx-arrow-back' style='color:#ffa800' ></i></a>
        </div>
        <div class="box-img">
            <img src="../../../../public/img/Rectangle 86.png" alt="rombo">
            <h5>Tus artesanías <br> favoritas</h5>
        </div>
    </header>
    <main>
        <section class="categorias">
        </section>
        <section class="productos">
            <div class="producto">
                <div class="box">
                    <div class="box-img">
                        <img src="../../../../public/img/y.jpg" alt="">
                    </div>
                    <div class="info">
                        <p class="nombre">Chullo II</p>
                        <p class="precio">S/.250</p>
                        <p class="taller">Nación O'ero</p>
                    </div>   
                </div>
                <div class="x">
                    <i class='bx bx-x' style='color:#ffa800'  ></i>
                </div>
            </div>
            <div class="producto">
                <div class="box">
                    <div class="box-img">
                        <img src="../../../../public/img/y.jpg" alt="">
                    </div>
                    <div class="info">
                        <p class="nombre">Perchera de champe Xame</p>
                        <p class="precio">S/.250</p>
                        <p class="taller">Nación O'ero</p>
                    </div>   
                </div>
                <div class="x">
                    <i class='bx bx-x' style='color:#ffa800'  ></i>
                </div>
            </div>
            <div class="producto">
                <div class="box">
                    <div class="box-img">
                        <img src="../../../../public/img/y.jpg" alt="">
                    </div>
                    <div class="info">
                        <p class="nombre">Perchera de champe Xame</p>
                        <p class="precio">S/.250</p>
                        <p class="taller">Nación O'ero</p>
                    </div>   
                </div>
                <div class="x">
                    <i class='bx bx-x' style='color:#ffa800'  ></i>
                </div>
            </div>
        </section>
    </main>
</body>
</html>