<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla22</title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="../../../css/pantalla22.css">
</head>
<body>
    <header>
        <div class="box-atras">
            <img src=".././../../../public/img/Group 53.png" alt="triangulo">
            <a href="#"><i class='bx bx-arrow-back' style='color:#ffa800' ></i></a>
        </div>
        <div class="box-img">
            <img src="../../../../public/img/Rectangle 86.png" alt="rombo">
            <h5>Canjear <br> cupón</h5>
        </div>
    </header>
    <main>
        <article class="canjear">
            <h4>¿Cuentas con algún cupón de descuento? <br> Canjealo aquí</h4>
            <div class="box-canjear">
                <i class='bx bxs-discount' style='color:#ffffff' ></i>
                <form id="canjear-codigo" class="form">
                    <input type="text" placeholder="Ingresa tu cupón">
                    <input class="validar" type="submit" data-action="validar-cupon" value="Validar">
                </form>
            </div>
        </article>
        <section class="section-cupones">
            <article>
              <h4>Cupones Vigentes</h4>
              <p>Usar antes de la fecha de vencimiento</p>
            </article>
            <div class="box">
                <div class="box-img">
                    <img src="../../../../public/img/y.jpg" alt="">
                </div>
                <div class="info">
                    <div class="texto">
                        <p><span class="porcentaje">50%</span> de descuento en cartucheras del taller <br><span class="taller">Awaq Ayllus</span></p>
                    </div>
                    <p class="fecha-vencimiento">Fecha de vencimiento <span class="fecha"> 4/9/23 </span></p>
                    <button>Usar cupón</button>
                </div>
            </div>
        </section>
    </main>
</body>
</html>